<p>Register by entering your details </p>

<label for="text">Name:</label>
<input type="text" id="Name" placeholder="Full Name" >
<br>
<br>
<label for="text">Username:</label>
<input type="text" id="username" placeholder="example123" >
<br>
<br>

<label for="email">Email:</label>
<input type="email" id="email" placeholder="example@123.com" >
<br>
<br>

<label for="password">Password:</label>
<input type="password" id="password" placeholder="Password" >
<br>
<br>
<button>Register</button>
<br>
<br>
<button>Go Back To Home</button>

